{{#if entriesByDate}}
  <div
    id="daily_curse_data"
    class="col d-flex justify-content-center flex-column"
  >
    {{#each entriesByDate as |entry|}}
      <div
        id="{{entry.id}}"
        class="card d-flex justify-content-between flex-column p-2 m-2"
      >
        <div id="FoodTable" class="d-flex justify-content-around flex-row p-2">
          <div id="FoodProp" class="d-flex justify-content-center flex-column">
            {{#each entry.FoodProp as |FoodProp|}}
              <div class="entry d-flex justify-content-between flex-row gap-4">
                {{#each FoodProp as |typeAndValue|}}
                  <div>
                    {{typeAndValue}}
                  </div>
                {{/each}}
              </div>
            {{/each}}
          </div>
          <div id="ChRatio">
            <div id="chRatioCh" class="d-flex justify-content-around">
              Ch: {{entry.ChRatio.ch}}
            </div>
            <div id="chRatioInsulin" class="d-flex justify-content-around">
              Insulin ratio: {{entry.ChRatio.insulinRation}}
            </div>
            <div
              id="ratioHeader"
              class="d-flex justify-content-around flex-row"
            >
              <div>
                Ratio
              </div>
              <div>
                Insulin Needed
              </div>
            </div>
            {{#each entry.ChRatio.ratiosss as |ratios|}}
              <div class="entry d-flex justify-content-around flex-row">
                {{#each ratios as |ratioAndInsulin|}}
                  <div>
                    {{ratioAndInsulin}}
                  </div>
                {{/each}}
              </div>
            {{/each}}
          </div>
        </div>

        <div id="foodRow" class="entry d-flex justify-content-between">
          <h5>
            {{entry.FoodType}}
          </h5>
          <h5>
            | {{entry.FoodPortion}} g |
          </h5>
          <h5>
            {{entry.FoodName}}
          </h5>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}